*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    font-size:15px;
    font-family: "Overpass", sans-serif;
    color:hsl(0, 0%, 100%);
}
main{
    display:grid;
    place-items: center;
    background:hsl(216, 12%, 8%);
    width:100%;
    height:100%;

}
.rating_container{
    padding:10px 0 0;
}
.rating_container.hide{
    display:none;
}
.rating_component{
    max-width:350px;
    width:85%;
    padding:25px;
    background:linear-gradient(-180deg, hsl(213, 19%, 18%) 50%,  hsl(213, 19%, 13%)) 50%;
    border-radius:20px;
}
.rating_header{
    margin-bottom:20px;
}  
.rating_header .rating_starImg_container{
    display:grid;
    place-items:center;
    width:40px;
    height:40px;
    background:hsl(213, 19%, 22%);
    border-radius:50%;
    margin-bottom:20px;
}
.rating_header .rating_starImg_container img{
    width:30%;
    height:auto;
}
.rating_header h1{
    margin-bottom:10px;
}  
.rating_header p{
    font-size:0.9em;
    line-height: 1.5em;
    color:hsl(217, 12%, 63%);
}  
/* Form */
.ratingForm{
    display:flex;
    justify-content: center;
    gap:25px;
    flex-wrap: wrap;
}
.ratingForm .ratingForm_rating_container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.ratingForm .ratingForm_rating_container label{
    width:40px;
    height:40px;
    background:hsl(213, 19%, 20%);
    color:hsl(216, 12%, 54%);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    padding-top:2px;
    padding-right:2px;
    font-size: 0.8em;
    transition: 0.3s ease-in-out;
}
.ratingForm .ratingForm_rating_container label:hover{
    background:hsl(25, 97%, 53%);
    cursor: pointer;
    color:white;
}
.ratingForm .ratingForm_rating_container label.clicked{
    background:hsl(217, 12%, 63%);
    color:white;
}

.ratingForm .ratingForm_rating_container label .rating_input{
    display:none;
}
.ratingForm button{
    width:100%;
    border:none;
    border-radius:20px;
    padding:1em;
    color:hsl(0, 0%, 100%);
    background:hsl(25, 97%, 53%);
    letter-spacing:2px;
    text-transform:uppercase;
    font-weight:500;
    font-size:0.8em;
    cursor:pointer;
}
.ratingForm button:active{
    color: hsl(25, 97%, 53%);
    background:hsl(0, 0%, 100%);
}
/* Hidden Section */
.rating_result{
    display:none;
}
.rating_result.thank_you_state{
    text-align: center;
    padding:10px 0 0 ;
    display:block;
    
}
.rating_result_header {
    width:50%;
    margin:0 auto 20px auto;
}
.rating_result_header img {
    width:100%;
}
.rating_result .rating_result_selected{
    background:hsl(216, 12%, 22%);
    display:inline-block;
    padding:8px 10px 5px;
    color:hsl(25, 97%, 63%);
    border-radius:30px;
    margin-bottom:25px;
}
.rating_result h1{
    margin-bottom:10px;
}
.rating_result .rating_result_feedback{
    color:hsl(217, 12%, 63%);
}
.rating_result > p {
    font-size:0.9em;
    line-height: 1.5em;
}   
